<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
        <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/theme.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

     <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js"></script>

    <script type="text/javascript" src="static/js/myApp2.js"></script> 

</head>
<body ng-app="myApp">
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SocketIO Control Panel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div ng-controller="MyCtrl">
<div class="container theme-showcase" role="main" >
      <div class="jumbotron">
        <h1>SocketIO Demo Control Panel</h1>
        <p>A simple demo of Flask-SocketIO features <br /> This is a revision of the code by Miguel Grinberg which is in his github repository <a href="https://github.com/miguelgrinberg/Flask-SocketIO.git">Flask-SocketIO</a></p>
      </div>
    
    <p>Async mode is (): <b>{{ async_mode }} </b></p>
    <p>Average ping/pong latency: <b> [[ pingpong ]] ms</b></p>
    <h2>Send:</h2>

    <p>
    <div class="col-xs-4">
        <input type="text" ng-model="emit_data" class="form-control" id="emit_data" placeholder="Message">
    </div>
        <button type="button" class="btn btn-primary" ng-click="echoIt()">Echo</button>
    
</p><p>
   <div class="col-xs-4">
        <input type="text" ng-model="broadcast_data" class="form-control" id="broadcast_data" placeholder="Message">
    </div>
        <button type="button" class="btn btn-primary" ng-click="broadcastIt()">Broadcast</button>
  
</p>


    <p>
    <div class="col-xs-4">
        <input type="text" ng-model="join_room_name" class="form-control" id="join_room_name" placeholder="Room">
    </div>
        <button type="button" class="btn btn-primary" ng-click="joinRoom()">Join Room</button>
    
</p><p>
   <div class="col-xs-4">
        <input type="text" ng-model="leave_room_name" class="form-control" id="leave_room_name" placeholder="Message">
    </div>
        <button type="button" class="btn btn-primary" ng-click="leaveRoom()">Leave Room</button>
  
</p>

<p>
   <div class="col-xs-4">
        <input type="text" ng-model="send_room_name" class="form-control" id="send_room_name" placeholder="Room Name">
    </div>
       <div class="col-xs-4">
        <input type="text" ng-model="send_room_message" class="form-control" id="send_room_message" placeholder="Message">
    </div>
        <button type="button" class="btn btn-primary" ng-click="sendToRoom()">Send To Room</button>
  
</p>
<p><button type="button" class="btn btn-danger" ng-click="disconnectRequest()">Disconnect</button>

<h2>Receive:</h2>
<div class="col-md-6">
<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Received from Server</h3>
            </div>
            <div  class="panel-body" style="height: 400px;overflow-y: scroll;" id="responsePane">
            <div ng-repeat="res in responses">
            <span ng-bind="res.data"></span>
            </div>
            </div>
            </div>
           
</div>

</div>


    
</div>
</body>
</html>
